<!--This code was re-used from COMP003B.Assignment3 I just changed the relavent figures from there to here->

<nav class="nav">
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="/store/order">Store Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/call-of-cthulhu">Call of Cthulhu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/productlist">Rulebooks</a>
        </li>
    </ul>
</nav>
