@{
    ViewData["Title"] = "Your purchase was most successful";
    Layout = "_Layout";
}

<div class="cthulhu-theme">
    <h1>@ViewData["Title"]</h1>
    <h2>The books will be delierved, and so will the horrors</h2>
</div>