@{
    ViewData["Title"] = "Call of Cthulhu - Product Listings";
    Layout = "_Layout";
}

<div class="cthulhu-theme">
    <h1>@ViewData["Title"]</h1>

    <div class="game-specs">
        <h2>Core Mechanics</h2>
        <ul>
            <li>D100 system</li>
            <li>Sanity mechanics</li>
            <li>1920s setting</li>
        </ul>
    </div>
</div>