@{
    ViewData["Title"] = "Call of Cthulhu";
}

<div class="text-center">
    <h1 class="display-4">Welcome... To your doom</h1>
    <h3>Call of Cthulhu is a Table Top RPG created by Chaosium</h3>
    <p>Multiple players investiagate a mystery created by "The Keeper" who manages the game as a whole</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
